In [1]:
from clip_query import ClipQuery
import pandas as pd

/Users/donnybertucci/ClipQuery/venv/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Users/donnybertucci/ClipQuery/venv/lib/python3.8/site-packages/torch/amp/autocast_mode.py:204: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')

In [2]:
import os
base_path = "../data/imagenette"
df = pd.read_csv(os.path.join(base_path, "validation_labels.csv"))

In [3]:
df

                                      id            label  split
0      val/n02979186/n02979186_8971.JPEG  cassette player  valid
1     val/n02979186/n02979186_14550.JPEG  cassette player  valid
2     val/n02979186/n02979186_11971.JPEG  cassette player  valid
3     val/n02979186/n02979186_11550.JPEG  cassette player  valid
4      val/n02979186/n02979186_8751.JPEG  cassette player  valid
...                                  ...              ...    ...
3920  val/n03425413/n03425413_17521.JPEG         gas pump  valid
3921  val/n03425413/n03425413_20711.JPEG         gas pump  valid
3922  val/n03425413/n03425413_19050.JPEG         gas pump  valid
3923  val/n03425413/n03425413_13831.JPEG         gas pump  valid
3924   val/n03425413/n03425413_1242.JPEG         gas pump  valid

[3925 rows x 3 columns]

In [4]:
# now compute batched encodings
cql = ClipQuery()

In [5]:
import pandas as pd
import os
image_encodings = pd.read_parquet(os.path.join("../experiments", "dummy.parquet"))["clip(image)"]
image_encodings

0       [0.3085854649543762, -0.19092532992362976, 0.2...
1       [0.10161502659320831, -0.17833435535430908, -0...
2       [0.18083025515079498, 0.1278810054063797, -0.1...
3       [-0.1899462342262268, -0.357085257768631, 0.40...
4       [-0.005921566858887672, 0.3006858229637146, -0...
                              ...
3920    [-0.47680068016052246, 0.4396960139274597, -0....
3921    [-0.15064717829227448, -0.3609411418437958, -0...
3922    [-0.03293980658054352, 0.255151629447937, -0.5...
3923    [0.021669946610927582, 0.2808123528957367, -0....
3924    [0.004720084369182587, -0.04765687882900238, -...
Name: clip(image), Length: 3925, dtype: object

In [6]:
cql.query(image_encodings, "a dog", normalize=True)

0       0.013098
1       0.013457
2       0.011152
3       0.013538
4       0.011719
          ...
3920    0.016947
3921    0.013201
3922    0.014426
3923    0.017609
3924    0.016068
Length: 3925, dtype: float64